<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/adicionar_observacao.css' %}">
    <title>Adicionar Observação</title> 
</head>
<body>
    <h1>Adicionar Observação</h1>
    <form method="post" action="{% url 'adicionar_observacao' %}">
        {% csrf_token %}
        <label for="observacao">Escreva sua observação:</label>
        <textarea id="observacao" name="observacao" rows="4" required></textarea>
        <button type="submit">Gerar PDF</button>
    </form>
</body>
</html>
