<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adição de Fertilizante</title>
</head>
<body>
    <h1>Adicionar Novo Fertilizante</h1>
    <form action="{% url 'fertilizante' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="nome">Nome do Fertilizante:</label>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" required>
        </div>
        <div>
            <label for="imagem">URL da Imagem:</label>
            <input type="url" name="imagem" id="imagem" placeholder="Digite a URL da imagem" required>
        </div>
        <button type="submit">Adicionar</button>
    </form>
    <a href="{% url 'visualizar_fert' %}">Voltar</a>
</body>
</html>
