{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Itens</title>
<link rel="stylesheet" href="{% static 'css/infos.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <header>
    <div class="header-content">
        <h1>Nome</h1>
        <ul class="navigation">
            <a href="{% url 'tarefas' %}" class="btn-tarefas">Cuidados Diários</a>
                <button class="btn-tarefas">Calendário</button>
                <button class="btn-tarefas active">Info Culturas</button>
        </ul>
        
    </div>
    <input type="search" placeholder="Pesquisar...">
  </header>

  <section class="list">
<div class="list-item">
    <span>BANANA</span>
    {% url 'banana_infos' as banana_url %}
    <button class="more-info" onclick="window.location.href='{{ banana_url }}'">Mais informações ></button>    
</div>


    <div class="list-item">
        <span>ABACATE</span>
        {% url 'abacate_infos' as abacate_url %}
        <button class="more-info" onclick="window.location.href='{{ abacate_url }}'">Mais informações ></button>
    </div>

    <div class="list-item">
        <span>BRÓCOLIS</span>
        {% url 'brocolis_infos' as brocolis_url %}
        <button class="more-info" onclick="window.location.href='{{ brocolis_url }}'">Mais informações ></button>
    </div>

    <div class="list-item">
        <span>RÚCULA</span>
        {% url 'rucula_infos' as rucula_url %}
        <button class="more-info" onclick="window.location.href='{{ rucula_url }}'">Mais informações ></button>
    </div>

    <div class="list-item">
        <span>COUVE</span>
        {% url 'couve_infos' as couve_url %}
        <button class="more-info" onclick="window.location.href='{{ couve_url }}'">Mais informações ></button>
    </div>

    <div class="list-item">
        <span>TOMATE</span>
        {% url 'tomate_infos' as tomate_url %}
        <button class="more-info" onclick="window.location.href='{{ tomate_url }}'">Mais informações ></button>
    </div>

    <div class="list-item">
        <span>CENOURA</span>
        {% url 'cenoura_infos' as cenoura_url %}
        <button class="more-info" onclick="window.location.href='{{ cenoura_url }}'">Mais informações ></button>
    </div>
    
    <div class="list-item">
        <span>MACAXEIRA</span>
        {% url 'macaxeira_infos' as macaxeira_url %}
        <button class="more-info" onclick="window.location.href='{{ macaxeira_url }}'">Mais informações ></button>
    </div>
    
  </section>
</div>
</body>
</html>