{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tarefas.css' %}">
</head>
<body>
    <header>
        <section id="cabeca">
            <div id="perfil">
                <img src="{% static 'images/perfil.avif' %}" alt="Perfil" width="75" height="75">
            </div>
            <h3>Nome</h3>
            <div class="direita">
                <button class="btn-tarefas active" onclick="window.location.href='{% url 'tarefas' %}'">Cuidados Diários</button>
                <button class="btn-tarefas">Calendário</button>
                <a href="{% url 'infoculturas' %}" class="btn-tarefas">Info Culturas</a>
            </div>
        </section>
    </header>
    
    <main>
        <section id="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="400" height="400">
        </section>
        <section id="centro">
            <div class="data"></div>
            <div class="Carpina">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </section>

        <section id="check">
            <div class="coluna">
                <h1>Regar:</h1>
                <label class="container">
                    <input type="checkbox" id="Abacate">
                    <div class="checkmark"></div>
                    Abacate
                </label>
                <label class="container">
                    <input type="checkbox" id="Banana">
                    <div class="checkmark"></div>
                    Banana
                </label>
                <label class="container">
                    <input type="checkbox" id="Brocolis">
                    <div class="checkmark"></div>
                    Brócolis
                </label>
                <label class="container">
                    <input type="checkbox" id="Cenoura">
                    <div class="checkmark"></div>
                    Cenoura
                </label>
                <label class="container">
                    <input type="checkbox" id="Couve">
                    <div class="checkmark"></div>
                    Couve
                </label>
                <label class="container">
                    <input type="checkbox" id="Macaxeira">
                    <div class="checkmark"></div>
                    Macaxeira
                </label>
                <label class="container">
                    <input type="checkbox" id="Rucula">
                    <div class="checkmark"></div>
                    Rúcula
                </label>
                <label class="container">
                    <input type="checkbox" id="Tomate">
                    <div class="checkmark"></div>
                    Tomate
                </label>
            </div>

            <div class="coluna">
                <h1>Colheita:</h1>
                <label class="container">
                    <input type="checkbox" id="Abacate_colheita">
                    <div class="checkmark"></div>
                    Abacate
                </label>
                <label class="container">
                    <input type="checkbox" id="Banana_colheita">
                    <div class="checkmark"></div>
                    Banana
                </label>
                <label class="container">
                    <input type="checkbox" id="Brocolis_colheita">
                    <div class="checkmark"></div>
                    Brócolis
                </label>
                <label class="container">
                    <input type="checkbox" id="Cenoura_colheita">
                    <div class="checkmark"></div>
                    Cenoura
                </label>
                <label class="container">
                    <input type="checkbox" id="Couve_colheita">
                    <div class="checkmark"></div>
                    Couve
                </label>
                <label class="container">
                    <input type="checkbox" id="Macaxeira_colheita">
                    <div class="checkmark"></div>
                    Macaxeira
                </label>
                <label class="container">
                    <input type="checkbox" id="Rucula_colheita">
                    <div class="checkmark"></div>
                    Rúcula
                </label>
                <label class="container">
                    <input type="checkbox" id="Tomate_colheita">
                    <div class="checkmark"></div>
                    Tomate
                </label>
            </div>

            <div class="coluna">
                <h1>Adubar:</h1>
                <label class="container">
                    <input type="checkbox" id="Abacate_adubar">
                    <div class="checkmark"></div>
                    Abacate
                </label>
                <label class="container">
                    <input type="checkbox" id="Banana_adubar">
                    <div class="checkmark"></div>
                    Banana
                </label>
                <label class="container">
                    <input type="checkbox" id="Brocolis_adubar">
                    <div class="checkmark"></div>
                    Brócolis
                </label>
                <label class="container">
                    <input type="checkbox" id="Cenoura_adubar">
                    <div class="checkmark"></div>
                    Cenoura
                </label>
                <label class="container">
                    <input type="checkbox" id="Couve_adubar">
                    <div class="checkmark"></div>
                    Couve
                </label>
                <label class="container">
                    <input type="checkbox" id="Macaxeira_adubar">
                    <div class="checkmark"></div>
                    Macaxeira
                </label>
                <label class="container">
                    <input type="checkbox" id="Rucula_adubar">
                    <div class="checkmark"></div>
                    Rúcula
                </label>
                <label class="container">
                    <input type="checkbox" id="Tomate_adubar">
                    <div class="checkmark"></div>
                    Tomate
                </label>
            </div>
        </section>
    </main>
    
    <footer>
        <h3>Precisa de ajuda. Entre em contato : (12) 3456-7890</h3>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                if (localStorage.getItem(checkbox.id) === 'true') {
                    checkbox.checked = true;
                }
                checkbox.addEventListener('change', function() {
                    localStorage.setItem(checkbox.id, this.checked);
                });
            });
        });
    </script>
</body>
</html>
