<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar PDF com Observação</title>
    <link rel="stylesheet" href="{% static 'css/adicionar_observacao.css' %}">
</head>
<body>
    <h1>Escreva sua Observação</h1>
    <form method="post" action="{% url 'calendario:gerar_pdf_com_observacao' %}">
        {% csrf_token %}
        <label for="observacao">Sua Observação:</label>
        <textarea id="observacao" name="observacao" rows="5" cols="40" required></textarea>
        <br><br>
        <button type="submit">Baixar PDF</button>
    </form>
</body>
</html>
