# Django
*.log
*.pot
*.pyc
_pycache_/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Ignorar arquivos estáticos gerados pelo collectstatic
staticfiles/
static/

# Python
*.py[cod]
*$py.class
*.so

# Diretórios de build e distribuição
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Arquivos de cache
.cache/
.pytest_cache/
.hypothesis/
.tox/
.nox/

# Relatórios de testes e cobertura
htmlcov/
.coverage
.coverage.*

# Arquivos de tradução compilados
*.mo

# Celery
celerybeat-schedule
celerybeat.pid

# Virtualenvs e ambientes Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# Ferramentas de dependência
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml

# Outras ferramentas de gerenciamento de projetos
.ropeproject
.spyderproject
.spyproject
.pybuilder/
target/
instance/
.webassets-cache

# Jupyter Notebooks
.ipynb_checkpoints

# Tipagem estática
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Debug Cython
cython_debug/

# Arquivos temporários ou locais
*.temp
*.tmp
*.log

# Ignorar arquivos relacionados a IDEs (opcional, personalize se necessário)
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Documentação gerada
docs/_build/
.site

# Ignorar pacotes específicos de PEP 582
_pypackages_/

# Sagemath
*.sage.py