{% csrf_token %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adição de semente</title>
</head>
<body>
    <form action="{% url 'controle:semente' %}" method="POST">
        {% csrf_token %}
        <div class="semente">
            <label for="nome">Nome da semente:</label>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" required>
        </div>
        <div class="inputdiv">
            <label for="imagem">URL da Imagem*:</label>
            <input type="url" name="imagem" id="imagem" placeholder="Digite a URL da imagem" required>
        </div>
        <div>
            <button type="submit">ADICIONAR</button>
        </div>
    </form>
</body>
</html>